.pl10 {
    padding-left: 30px;
}

.pl5 {
    padding-left: 15px;
}

.pr5 {
    padding-right: 15px;
}

.bb1 {
    border-bottom: 1px solid;
}

.pb0 {
    padding-bottom: 0px;
}

.pt0 {
    padding-top: 0px;
}