body {
    table-layout: fixed;
    font-family: 'Times New Roman', Times, serif;
}

.report-background {
    text-align: center;
    background-color: white;
    width: 100%
}

.report-heading {
    text-align: center;
    margin-bottom: 0px
}

.report-maintable {
    width: 100%;
    text-align: left;
    font-size: 14px;
    border: 1px solid;
}

.report-maintable, tr, th, td {
    border: 1px solid;
}

.noborderTable tr th {
    border: 0px;
}

.noborderTable tr td {
    border: 0px;
}